/*기본 세팅*/
section {
    height: calc(100vh - 180px);
    min-height: 700px;
}
section > div {
    margin-top: 30px;
}

/*좌단 세로 선택바 설정*/
section #my_menu {
    width: 249px;
    height: 300px;
    border-right: 1px solid lightgrey;
}
section #my_menu ul {
    padding: 0;
    width: calc(100% - 30px);
    margin: 0 15px;
}
section #my_menu ul p {
    color: #6d6d6d;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
section #my_menu ul li {
    color: #005818;
    font-size: 17px;
    padding: 10px 15px;
}
section #my_menu ul li:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}
section #my_menu #menu_admin {
    display: none;
}

/*우측 mypage 내용*/
section #menu_body {
    width: 950px;
    height: 670px;
}
section #menu_body > div {
    width: calc(100% - 30px);
    height: 100%;
    display: none;
    margin-left: 30px;
}
section #menu_body > div h2 {
    margin-bottom: 50px;
}
section #menu_body > div p {
    font-size: 20px;
    margin-bottom: 15px;
}
section #menu_body > div input {
    width: 400px;
    height: 30px;
    margin-bottom: 25px;
    font-size: 20px;
}
section #menu_body > div button {
    cursor: pointer;
}
section #menu_body > div .updatebtn {
    width: 80px;
    height: 36px;
    font-size: 20px;
    border: 1px solid lightgrey;
    background-color: white;
}
section #menu_body > div .updatebtn:hover {
    background-color: lightgrey;
}
section #menu_body > div .togglebtn {
    width: 80px;
    height: 36px;
    font-size: 15px;
    border: 1px solid lightgrey;
    background-color: white;
}
section #menu_body > div .togglebtn:hover {
    background-color: #e2e2e2;
}
section #menu_body > div #yesbtn {
    border-right: 0;
}
section #menu_body > div #delbtn {
    height: 40px;
    background-color: #ea6c00;
    border: 0;
    border-radius: 2px;
    color: white;
    font-size: 15px;
    padding: 1px 15px;
}
section #menu_body > div #delbtn:hover {
    background-color: #d05f00;
}

/*admin 용 mypage 설정*/
section #menu_body > div > div {
    width: 100%;
    height: calc(100% - 82px);
}
table {
    text-align: center;
}
.admin_list {
    width: calc(100% - 2px);
    height: 500px;
    border-collapse: collapse;
    border: 1px solid lightgrey;
    background-color: white;
}
.admin_list th, .admin_list td {
    padding: 15px;
}
section #menu_body > #menu8 > div #fdDetail {
    position: fixed;
    padding: 10px;
    z-index: 1;
    word-break: break-all;
    font-size: 13px;
    color: #333;
    background-color: white;
    border: 1px lightgrey solid;
    border-radius: 5px;
    display: none;
}
section #menu_body > #menu8 .fdTitle {
    cursor: pointer;
}
section #menu_body > div table button {
    padding: 2px 12px;
}

/*admin 용 paging 설정*/
.pageDiv {
    text-align: center;
    width: 100%;
}
.pagech {
    margin-top: 30px;
    border-collapse: collapse;
    display: inline-block;
}
.pagech td {
    width: 44px;
    display: inline-block;
    float: left;
    color: black;
}
.pagech td:hover {
    cursor: pointer;
    color: brown;
}